# File-file yang dihasilkan oleh sistem operasi
.DS_Store
Thumbs.db

# Konfigurasi Editor dan IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# File Log dan Cache
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Direktori Dependencies
/node_modules
/vendor

.env

# Aset yang Dihasilkan oleh Vite Build
/public/build

# File dan Folder Laravel
/public/storage
/storage/app
/storage/app/public
/storage/framework
/storage/logs
.php-cs-fixer.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
sail.yml

# File yang dihasilkan oleh Laravel Sail
docker-compose.yml
.sail/
sail

# File yang dihasilkan oleh Laravel Telescope
telescope.sqlite

# File yang dihasilkan oleh otentikasi
oauth-private.key
oauth-public.key

# Docker-related (optional)
.env
.env.local
.env.*.local

# OS-specific
Thumbs.db
.DS_Store
